[Desktop Entry]
Encoding=UTF-8
Name=PyQode Qt4 Designer
Comment=Starts Qt Designer with the pyQode plugins
Exec=pyqode-designer-qt4
Terminal=false
Type=Application
Icon=designer-qt4
Categories=Development;