[Desktop Entry]
Encoding=UTF-8
Name=PyQode Designer
Comment=Starts Qt Designer with the pyQode plugins
Exec=pyqode-designer
Terminal=false
Type=Application
Icon=designer-qt4
Categories=Development;